
/* SPACE GROTESK FONT */
@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Bold.woff2') format('woff2'),
        url('SpaceGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Regular.woff2') format('woff2'),
        url('SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Light.woff2') format('woff2'),
        url('SpaceGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* WAHROONGA FONT */
@font-face {
    font-family: 'Wahroonga';
    src: url('fonts/wahroonga/Wahroonga.woff2') format('woff2'),
        url('fonts/wahroonga/Wahroonga.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* overall defaults */

html
{
    scroll-behavior: smooth;
    font-size: 16px;
}

body
{
    margin: 0;
    padding: 0;
    color:  white;
    font-family: 'Space Grotesk', sans-serif;
    
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

a
{
    text-decoration: none;
    color:  white;
    font-weight: bold;
}

a:hover
{
    color:  #e17d05;
    text-decoration: underline;
}

button
{
    background-color: #e17d05;
    text-align: center;
    font-size: 16px;
    font-family: 'Wahroonga', sans-serif;
    cursor: pointer;
}

svg
{
    width: 24px;
    height: 24px;
    color: #e17d05;
}

/* mobile default */

h1
{
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-family: 'Wahroonga';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 0, 0, ;
}

h2
{
    font-family: 'Wahroonga';
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-size: 1.75rem;
    text-align: center;
}

h3
{
    font-family: 'Wahroonga';
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.fixed-header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: black;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}

.logo
{
    background-size: cover;
    height: 32px;
}

nav
{
    display: none;
}

.off-screen-menu
{
    background-color: black;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    transition: .3s ease;
}

.off-screen-menu.active
{
    right: 0;
}

.ham-menu
{
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: auto;
}

.ham-menu span
{
    height: 5px;
    width: 100%;
    background-color: #e17d05;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1)
{
    top: 25%;
}

.ham-menu span:nth-child(3)
{
    top: 75%;
}

.ham-menu.active span:nth-child(1)
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2)
{
    opacity: 0;
}

.ham-menu.active span:nth-child(3)
{
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

/* HERO SECTION */

.hero-image-bg
{
    position: relative;
    background-image: url(img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-image-bg::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.hero-section
{
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:  #e17d05;
}

.hero-content
{
    text-align: center;
    position: relative;
    z-index: 1;
}

/* UPCOMING EVENT SECTION */

.upcoming-event-section
{
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: black;
}

.upcoming-event-section address
{
    text-align: end;
}

.upcoming-event-section p
{
    margin-block-start: 0;
    margin-block-end: 0;
}


.upcoming-event-container
{
    margin: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #e17d05;
    border-bottom: 1px solid #e17d05;
    gap: 16px;
}

.date-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.date-time-box
{
    display: flex;
    flex-direction: column;
}

#date
{
    text-align: end;
    font-size: 1.5rem;
    color: #e17d05;
}

#time
{
    text-align: end;
    font-size: 1rem;
}

.location-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lineup-container
{
    display: flex;
    justify-content: space-between;
}

.lineup-container h3
{
    color: #e17d05;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* TIMELINE SECTION */

.timeline-section
{
    background-color: black;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 64px;
}

.timeline-section h2
{
    color: #e17d05;
    font-family: 'Space Grotesk';
    font-weight: bold;
}

.timeline-section p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

.timeline-section::before {
    content: "";
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: white;
}

.timeline-item-h3-settings
{
    color: #e17d05;
    font-size: 1.75rem;
}

.timeline-item-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin-bottom: 64px;
    padding-left: 36px;
}

.timeline-item-left
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 64px;
    padding-left: 36px;
}

.timeline-dot
{
    position: sticky;
    top: 50vh;
    left: 19px;
    width: 12px;
    height: 12px;
    background: #e17d05;
    border-radius: 50%;
}

/* THE CREW SECTION */

.the-crew-section
{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 64px 16px;
    gap: 32px;
    text-align: center;
}

.the-crew-section h3
{
    color: #e17d05;
}

.crew-item
{
    padding: 16px;
}

.border-left
{
    border-left: 1px solid #e17d05;
    border-bottom: 1px solid #e17d05;
}

.border-right
{
    border-right: 1px solid #e17d05;
    border-bottom: 1px solid #e17d05;
}

.crew-image
{
    width: 100%;
}

.crew-links
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

/* CONTACT SECTION */

.contact-section
{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 16px;
    gap: 16px;
}

.contact-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer
{
    background-color: black;
    color: #e17d05;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 100px;
}






@media (min-width: 768px) 
{

   /* mehr Platz → mehr Layout */

}



@media (min-width: 1024px) 
{

   /* Desktop Erweiterungen */

}