
html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: orange;
    font-family: 'Wahroonga', sans-serif;
}

h1
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 80px;
    padding-top: 150px;
    text-align: center;
}

h2
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 60px;
    text-align: center;
}

h3
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 40px;
    text-align: center;
}

.atfimgBG
{
    background-image: url(img/backgrund\ website.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.atfLogo
{
    background-image: url(img/logo.png);
    background-size: cover;
    width: 128px;
    height: 64px;
}

.atfHeader
{
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav
{
    display: flex;
    gap: 32px;
}

.nav a
{
    text-decoration: none;
    color:  orange;
    font-size: 18px;
    font-weight: bold;
}

.nav a:hover
{
    text-decoration: underline;
}

.atfHeadline
{
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.eventsBG
{
    background-color: darkgreen;
    background-size: cover;
    height: 100vh;
    padding: 128px;
}

.artistsBG
{
    background-color: darkblue;
    background-size: cover;
    height: 100vh;
    padding: 128px;
}

.aboutBG
{
    background-color: darkred;
    background-size: cover;
    height: 100vh;
    padding: 128px;
}

footer
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    height: 100px;
}

footer a
{
    color: white;
    text-decoration: none;
}

footer a:hover
{
    color: white;
    text-decoration: underline;
}

.footerNav
{
    display: flex;
    gap: 32px;
}

.fontSize32 {
    font-size: 32px;
}

@media(max-width: 600px)
{
    .hideOnLowScreen
    {
        display: none;
    }

    h1
    {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 40px;
        padding-top: 100px;
        text-align: center;
    }

    p
    {
        font-size: 16px;
        text-align: center;
    }

    
    footer
    {
        padding: 16px;
        gap: 16px;
    }

    .footerNav
    {
        flex-direction: column;
        gap: 8px;
    }
    
}