
/* overall defaults */

html
{
    scroll-behavior: smooth;
    font-size: 16px;
}

body
{
    margin: 0;
    padding: 0;
    color:  white;
    font-family: 'Wahroonga', sans-serif;
}

a
{
    text-decoration: none;
    color:  white;
    font-weight: bold;
}

a:hover
{
    color:  #e17d05;
}

button
{
    background-color: #e17d05;
    text-align: center;
    font-size: 16px;
    font-family: 'Wahroonga', sans-serif;
    cursor: pointer;
}

/* mobile default */

p
{
    text-align: center;
}

h1
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0, 0, ;
}

h2
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2rem;
    text-align: center;
}

h3
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.5rem;
    text-align: center;
}

.fixed-header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: black;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;
}

.hero-image-bg
{
    position: relative;
    background-image: url(/img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero-image-bg::before
{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.hero-section
{
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:  #e17d05;
}

.hero-content
{
    position: relative;
    z-index: 1;
}

.logo
{
    background-size: cover;
    height: 32px;
}

nav
{
    display: none;
}

.off-screen-menu
{
    background-color: black;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    transition: .3s ease;
}

.off-screen-menu.active
{
    right: 0;
}

.ham-menu
{
    position: relative;
    height: 50px;
    width: 50px;
    margin-left: auto;
}

.ham-menu span
{
    height: 5px;
    width: 100%;
    background-color: #e17d05;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1)
{
    top: 25%;
}

.ham-menu span:nth-child(3)
{
    top: 75%;
}

.ham-menu.active span:nth-child(1)
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2)
{
    opacity: 0;
}

.ham-menu.active span:nth-child(3)
{
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

/* UPCOMING EVENT SECTION */

.upcoming-event-section
{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: black;
}

.upcoming-event-section p
{
    margin-block-start: 0;
    margin-block-end: 0;
}

.upcoming-event-section svg
{
    width: 24px;
    height: 24px;
    color: #e17d05;
}

.upcoming-event-container
{
    margin: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #e17d05;
    border-bottom: 1px solid #e17d05;
    gap: 16px;
}

.date-container
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.date-time-box
{
    display: flex;
    flex-direction: column;
}

#date
{
    text-align: end;
    font-size: 1.5rem;
    color: #e17d05;
}

#time
{
    text-align: end;
    font-size: 1rem;
}

.location-container
{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}

.lineup-container
{
    display: flex;
    justify-content: start;
    gap: 16px;
}

.lineup-container h3
{
    color: #e17d05;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* TIMELINE SECTION */

















footer
{
    background-color: black;
    color: #e17d05;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 100px;
}

.footerNav
{
    display: flex;
    gap: 8px;
}






@media (min-width: 768px) 
{

   /* mehr Platz → mehr Layout */

}



@media (min-width: 1024px) 
{

   /* Desktop Erweiterungen */

}