
html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #e17d05;
    font-family: 'Wahroonga', sans-serif;
}

p
{
    font-size: 24px;
    text-align: center;
}

h1
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 80px;
    padding-top: 100px;
    text-align: center;
}

h2
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 60px;
    text-align: center;
}

h3
{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 40px;
    text-align: center;
}

.atfimgBG
{
    background-image: url(img/backgrund\ website.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo
{
    background-image: url(img/logo.png);
    background-size: cover;
    width: 128px;
    height: 64px;
}

Header
{
    background-color: black;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav
{
    display: flex;
    gap: 32px;
}

nav a
{
    text-decoration: none;
    color:  #e17d05;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover
{
    text-decoration: underline;
    color: white;
}

.atfHeadline
{
    padding-left: 128px;
    padding-right: 128px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.eventsBG
{
    background-color: darkgreen;
    background-size: cover;
    height: 100vh;
    padding: 128px;
}

.artistsBG
{
    background-color: darkblue;
    background-size: cover;
    height: 100vh;
    padding: 128px;
}

.aboutBG
{
    background-color: darkred;
    background-size: cover;
    height: 100vh;
    padding: 128px;
}

footer
{
    background-color: black;
    color: #e17d05;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
    height: 100px;
}

footer a
{
    color: #e17d05;
    text-decoration: none;
}

footer a:hover
{
    color: white;
    text-decoration: underline;
}

.footerNav
{
    display: flex;
    gap: 32px;
}

.fontSize32 {
    font-size: 32px;
}

@media(max-width: 600px)
{

    .hideOnLowScreen
    {
        display: none;
    }

    Header
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .atfHeadline
    {
        padding-left: 16px;
        padding-right: 16px;
    }

    .logo
    {
        height: 32px;
    }

    h1
    {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 40px;
        padding-top: 100px;
        text-align: center;
    }

    p
    {
        font-size: 16px;
        text-align: center;
    }

    
    footer
    {
        padding: 16px;
        gap: 16px;
    }

    .footerNav
    {
        flex-direction: column;
        gap: 8px;
    }

    .ham-menu
    {
        position: relative;
        height: 50px;
        width: 50px;
        margin-left: auto;
    }

    .ham-menu span
    {
        height: 5px;
        width: 100%;
        background-color: #e17d05;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1)
    {
        top: 25%;
    }

    .ham-menu span:nth-child(3)
    {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1)
    {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2)
    {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3)
    {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    .off-screen-menu
    {
        background-color: black;
        position: fixed;
        top: 0;
        right: -450px;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 24px;
        gap: 16px;
        transition: .3s ease;
    }

    .off-screen-menu.active
    {
        right: 0;
    }
















    
}